/* General page styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5dc; /* Light beige for a clean, neutral look */
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff; /* Bootstrap primary blue */
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

nav {
    margin-top: 10px;
    padding: 10px;
    background-color: #e9ecef;
    text-align: center;
    border-radius: 5px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

nav a:hover {
    text-decoration: bold;
}

/* Styling for sections */
section {
    margin: 20px auto;
    padding: 20px;
    max-width: 900px;
    background: #f5f5dc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    color: #0056b3;
    border-bottom: 2px solid #0056b3;
    padding-bottom: 5px;
}

/* Image styling */
img {
    width: 100%;
    max-width: 300px;
    max-height: 600px
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

/* Video styling */
iframe {
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: #f5f5dc;
    color: black;
    margin-top: 20px;
    border-radius: 10px 10px 0 0;
}
